.content__photo-text {
  margin: 0 0 0 10px;
  color: rgb(3, 24, 32);
  font-size: 20px;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 880px) and (max-width: 1085px) {
  .content__photo-text {
    max-width: 400px;
  }
}

@media screen and (max-width: 400px) {
 .content__photo-text {
    max-width: 300px;
    margin-top: 0;
  }
}
