.content__photo-text {
  color: rgb(103, 186, 218);
  font-size: 25px;
  max-width: 350px;
  margin: 0;
}

@media screen and (min-width: 880px) and (max-width: 1085px) {
  .content__photo-text {
    max-width: 400px;
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
 .content__photo-text {
    max-width: 300px;
    margin-top: 0;
  }
}
