.profile__photo {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-right: 50px;
  margin-left: 50px;
}

.profile__photo:hover {
  transform: rotate(360deg);
  transition-duration: 5s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__photo {
    margin-bottom: 10px;
  }
}
