.profile__text {
  color: rgb(103, 186, 218);
  margin-top: 0;
  font-size: 30px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .profile__text {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .profile__text {
    font-size: 22px;
  }
}
